<form action="/users/insert" method="post" style="margin-left: 30%; margin-right: 30% ; margin-top: 20%;">
    <div class="form-group">
        <label for="userName">user Name</label>
        <input type="text" class="form-control" id="userName" aria-describedby="emailHelp" name="userName">

    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="password" name="userPassword">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" name="userEmail">
    </div>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>