.main-container {
    font-family: 'Nunito';
    position: relative;

}

h5 {
    margin-left: 4%;
}

.Table {
    margin-left: 10%;
    margin-right: 10%;

}

.done {
    font-size: 20px;
    color: #95D03A;
}

.add_btn {
    text-align: center;
    margin-bottom: 3%;
    margin-right: 3%;

}

.done:hover {
    color: rgb(115, 175, 24);
}



.table td,
.table th {
    border-top: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
}