.add_btn {
    margin-left: 40%;
}

.delete {
    font-size: 20px;
    color: rgb(0, 0, 0);



}

.delete:hover {
    color: rgb(255, 0, 0);
}



.add_shop {
    font-size: 23px;
    margin-left: 9px;
    color: rgb(39, 46, 39);
}

.add_shop:hover {
    color: rgb(17, 167, 17);
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}