.main-container {
    font-family: 'Nunito';
    position: relative;

}

h5 {
    margin-left: 4%;
}

.Table {
    margin-left: 20%;
    margin-right: 20%;

}

.delete {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.add_btn {
    text-align: center;
    margin-bottom: 3%;
    margin-right: 3%;

}

.delete:hover {
    color: #D44638;
}

.add_shop {
    color: #95D03A;
    font-size: 23px;
    margin-left: 9px;
    color: rgb(39, 46, 39);
}

.add_shop:hover {
    color: rgb(51, 182, 51);
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
}

.share {
    bottom: 0%;
    position: fixed;
}

.table td,
.table th {
    border-top: 1px solid #ffffff;
    background-color: rgb(255, 255, 255);
}