@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#map {
    border: solid rgb(204, 201, 201);
    height: 72vh;
    margin-left: 5%;
    margin-right: 5%;
}